@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-blue-900 via-gray-900 to-black text-white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Change from height to min-height */
  margin: 0;
}

.login-container {
  @apply bg-opacity-90 p-6 rounded-lg shadow-lg bg-gray-800;
  max-width: 400px; /* Adjusted width for better layout */
  width: 100%;
  text-align: center;
  margin: auto;
}

h1 {
  @apply text-xl font-bold text-blue-200 mb-4 text-center;
}

form {
  @apply space-y-2;
}

.input,
select,
.btn-primary,
button {
  @apply w-full p-2 text-sm rounded-md border border-gray-700 bg-gray-900 text-white;
}

.btn-primary,
button {
  @apply bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-md transition duration-300 w-full;
}

select {
  @apply bg-gray-800 text-white;
}

button {
  @apply mt-2;
}

.btn-secondary {
  @apply bg-green-600 hover:bg-green-700 text-white py-2 rounded-md mt-2 transition duration-300 w-full;
}

.container {
  @apply w-full max-w-2xl mx-auto p-4 space-y-4; /* Ensures content is centered and spaced properly */
  min-height: calc(100vh - 20px); /* Keeps container height dynamic */
}

.transaction-visualization {
  @apply bg-gray-800 p-4 rounded-lg shadow-md mt-4; /* Consistent styling for visualization area */
  max-width: 500px; /* Adjusted for proper scaling */
  margin: auto;
  overflow: hidden; /* Prevents overflow issues */
}
